<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style type="text/tailwindcss">
      @theme {
        --color-ijo: #006900;
      }
    </style>
</head>
<body>
        {% include header.html %}
    <main class="relative h-screen flex flex-col items-center justify-center">
        {{ content }}
    </main>
        {% include footer.html %}
</body>
</html>